<div class="box-login">
    <div class="box-login-title">
        <i class="material-icons icon-title">account_circle</i><span class="text-title">ENTRAR NO SISTEMA</span>
    </div>

    <div class="box-login-content">
        <form loginForm>
            <md-content layout-padding>
                <div>
                    <h3 class="md-subhead" style="margin-top:-0px!important; color:#004D40;">Informar os dados do usuário</h3>
                    <md-input-container class="md-block">
                        <label>E-mail</label>
                        <input type="text" id="txtEmail" ng-model="login.login">
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Senha</label>
                        <input type="password" id="txtSenha" ng-model="login.senha">
                    </md-input-container>

                    <md-button class="md-raised md-cornered md-primary md-block" ng-click="autenticar(login)">Entrar</md-button>

                </div>
            </md-content>
        </form>
    </div>
</div>